/
lightning_logs/

# 👉 Общие исключения для Python-проектов
__pycache__/
*.py[cod]
*.so

# 👉 Исключаем виртуальные окружения
venv/
.env/
*.env

# 👉 Исключаем Jupyter Notebook checkpoints
.ipynb_checkpoints/

# 👉 Исключаем логи и временные файлы
*.log
*.tmp
*.swp

# 👉 Исключаем IDE и редакторы
.vscode/
.idea/
*.iml

# 👉 Исключаем файлы и каталоги OS
.DS_Store
Thumbs.db
